@import "variables";
@import "reset";
@import "typography";
@import "shared";



body {
    background: $background_color;
    color: $font_color;
    font-family: $font_stack;
    font-weight: normal;
    font-size: 62.5%;
}



$sectiom_padding: 80px;

section {
    padding: $sectiom_padding 0;
    position: relative;

    h2 {
        text-align: center;
    }
}

section#welcome {
    // background: url('../images/chemin2.jpg') no-repeat center center;
    padding-bottom: #{($sectiom_padding + 100px)};
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;

    z-index: 2000; /// needs to be more than stickyheader


    .container {
        position: relative;
        z-index: 10;
    }

    h1 {
        padding-top: 50px;
        // padding-top: 150px;
        // background: url('../images/townjouses-du-cedre-logo.png') no-repeat top center;
        background-size: 100px;
        margin: 0;


        @media (min-width: $mobile_width) {

            &:after,
            &:before {

                content: "";
                width: 30px;
                margin: 0 $padding;
                border-top: $half_padding double white;

                display: inline-block;
                position: relative;
                top: -5px;
            }
        }
    }

    h2,
    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    h2 {

        padding-bottom: 0px;
    }

    p {}


    .blackbg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        background-color: transparentize(black, 0.5);
        z-index: 2;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: 1;
    }


    svg.border_svg {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 160px;
        z-index: 3;

        .st0 {
            fill: #FFFFFF;
        }

        .st1 {
            opacity: 0.2;
            fill: #FFFFFF;
        }
    }
}



.hero {
    margin-top: #{$sectiom_padding * -1};
    // padding: $padding;
    // background: transparentize($light_grey, 0.3);
    // margin-bottom: 30px;
}

section.large_p {
    text-align: center;

    p {
        font-size: #{ $font_size * 1.35};
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}


section.pleiades_stars {
    background: url('../images/pleiades-stars.svg') no-repeat 20px 0;
    background-size: 930px;
}

section#grid {
    padding-bottom: 0;
    padding-top: 0;

    .columns {
        margin-bottom: 0;

    }
}

section#map_grid {
    padding-bottom: 0;
    padding-top: 0;
    background-color: $blue;

    .columns {
        margin-bottom: 0;

    }

    #map_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/map/planbase1.jpg') no-repeat top center $light_grey;
        background-size: cover;

        .layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: no-repeat top center;
            background-size: cover;
            z-index: 100;

            &.invisible {
                opacity: 0;
            }

            &#layer_business {
                background-image: url('../images/map/Business.png');
            }

            &#layer_ecoles {
                background-image: url('../images/map/Ecoles.png');
            }

            &#layer_airport {
                background-image: url('../images/map/Gares-aeroport.png');
            }

            &#layer_sports {
                background-image: url('../images/map/Sports.png');
            }

            &#layer_parcs {
                background-image: url('../images/map/Parcs.png');
            }

            &#layer_loisirs {
                background-image: url('../images/map/Loisirs.png');
            }

        }
    }
}

.map_controls {
    padding: 20px;

    a {
        display: inline-block;
        padding: 10px;
        margin: 0 5px 5px;
        border-radius: 5px;
        background-color: $grey8;
        font-size: $font_size;

        &.toggled {
            background-color: $grey6;
            color: white;
        }

        &:hover {
            background-color: $grey7;
        }
    }
}

section#table {}

section#visiter {}

section#partners {
    background: $primary_color;
    padding: 50px;

    h2,
    h3,
    h4,
    p {
        color: white;
    }

    ul,
    div.slider {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

        li,
        div.slide {
            display: inline-block;
            position: relative;
            background-color: transparentize(white, 0.5);
            max-width: 200px;
            width: 200px;
            height: 130px;
            margin: 0 10px 10px;
            padding: 5px;
            transition: background 0.4s;

            &:hover {
                background-color: white;
            }

            span {
                position: absolute;
                bottom: 0;
                padding: 7px 0;
                left: 0;
                width: 100%;
                text-align: center;
                background-color: transparentize(black, 0.7);
                color: white;
                font-weight: bold;
            }
        }
    }
}

section#contact {

    background: $light_primary_color url('../images/white-logo.png') no-repeat right 150%;
    background-size: 400px;
    padding-top: #{($sectiom_padding + 100px)};


    h2 {
        text-align: left;
        font-size: #{ $font_size * 3}; // like an h1
    }

    p {
        font-size: #{ $font_size * 1.5};
    }

    .contact_box {

        padding-left: 100px;
        background: url('../images/contact.svg') no-repeat top left;
        background-size: 80px;
        margin-bottom: $double_padding;

        &.address_box {
            background-image: url('../images/marker.svg');
            background-size: 56px;
        }

        &.form_box {
            background-image: url('../images/mail.svg');
        }

    }


    #interest_person_check {
        font-weight: bold;
        font-size: $font_size;
        margin: 0 $half_padding;
    }

    .person_chooser {
        margin: 0px 3px;
        padding: 0px $half_padding;
        color: $font_color;

        &:before {
            transition: all 0.3s;
            content: '';
            display: inline-block;
            height: 13px;
            width: 13px;
            position: relative;
            top: 1px;
            margin-right: 5px;
            border: 1px solid $font_color;
        }

        &:first-child {
            &:before {
                background: $font_color;
            }
        }

        &:hover {
            &:before {
                background: $grey3;
            }
        }



    }

    form {
        input[type="submit"] {
            text-align: right;
        }
    }

    svg.border_svg {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        height: 120px;

        .st0 {
            fill: #FFFFFF;
        }

        .st1 {
            opacity: 0.2;
            fill: #FFFFFF;
        }
    }
}



.slide {
    h4 {
        font-size: 2.4em;
        font-style: italic;
        padding: 0 0 $padding;
    }

    p {}

}

main {
    position: relative;
}

// # sticky_header
// # sticky_header
#sticky_header {
    position: fixed;
    top: 0;
    padding: 0 20px 10px;
    background: transparentize(white, 0.1);
    box-shadow: 0 0 10px transparentize(black, 0.9);
    z-index: 1000;
    width: 100%;
    left: 0;

    .logo {
        background: url('../images/pleiades-logo.svg') no-repeat left center;
        background-size: contain;
        height: 70px;
        width: 200px;
        text-indent: -9999px;
        display: inline-block;

    }
}

// # sticky_header
// # sticky_header